* {
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(93, 135, 93);
}

.divider {
    background-image: url(images/field-sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
}

/*NAV BAR*/
.topnav {
    background-image: url('images/Cover.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 11%;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    border: solid 2px #000000d8;
    z-index: 1000;
}
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: "Cantata One", serif;
    font-weight: 600;
    font-style: normal;
    border-right: 2px solid #000000;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
/*HOME*/
#home {
    background-image: url(images/Sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
    display: grid;
    place-items: center;
    align-content: center;
    width: 100vw;
    min-height: 100vh;
    border: solid 5px;
}
/*Photo and Name*/
.header {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 50%;
    justify-content: center;
    position: relative;
}
.profile-photo {
    width: 180px;
    height: 180px;
    border: solid 5px rgba(7, 43, 25, 0.758);
    border-radius: 50%;
}
.my-name {
    font-family: "Candal", serif;
    font-weight: 400;
    font-style: initial;
    font-size: 60px;
    color: rgba(7, 43, 25, 0.758);
}
/*Overview*/
.overview {
    padding: 50px;
    border: solid 8px rgba(1, 46, 21, 0.21);
    border-radius: 20px;
    background-color: rgba(152, 251, 152, 0.515);
    color: rgba(4, 27, 15, 0.857);
    font-weight: bold;
    font-size: 20px;
}
span {
    color: #08610b;
}

/*Sections*/
.section {
    display: block;
    background: rgba(152, 251, 152, 0.515);
    text-align: left;
    width: 80%;
    max-width: 400px;
    margin: 100px auto;
    padding: 15px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
}